body{
    font-family: 'Fredoka One', cursive;
    background: lightcoral;
}

.header_div{
    background: lightpink;
    color:rgb(174, 106, 238);
}

.header_div p{
    font-family: 'Balsamiq Sans', sans-serif;
    color: deeppink;
    letter-spacing: 2px;
    font-size: 14px;
}

.main_div button{
    font-family: 'Patrick Hand', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: purple;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px plum;
}
 